*{
	margin: 0;
	padding: 0;
}
body{
	background: url(mainpic.png) no-repeat;
	background-size: cover;
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top:150px;
}
.form{
	width:430px;
	border-radius: 14px;
	background:transparent;
    border: 5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
	border-radius: 14px;
}
.heading h2{
	margin-top: 20px;
	text-align: center;
	color:white;

}
.content{
	margin: 20px;
}
.content .blc{
	font-size: 20px;
	margin: 10px;
	color:yellow;
	font-weight: bold ;
}
.content .upi{
	font-size: 20px;
	margin: 10px;
	text-align: center;
}
.content .bank{
	font-size: 20px;
	margin: 10px;
	text-align: center;
}
.btn{
	display: flex;
	justify-content: center;
	margin: 10px;
}
button{
	width: 100%;
	height: 30px;
	border-radius:14px;
	border: none;
	font-weight: bold;
	font-size:20px;
	background: white;
	outline: none;
	
}
button a{
	text-decoration: none;
	color:black;
}
}